<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="/estilos/estilo.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav"></ul>
      </div>
      <div hidden$={{!muestraProductos}}>
      <div hidden$={{!muestraCurrency}}>
        <div class="row" hidden$={{muestraRegistro}}>
        <h1>Gestor Clientes</h1>
        </div>
        <div class="row" hidden$={{muestraRegistro}}>
          <button on-click="obtenerClientes" type="button" class="btn btn-secondary">Obtener Clientes</button>
        </div>
      </div>
      </div>

      <div id="movimientos-cliente" class="row" hidden$={{!muestraRegistro}}>
        <div class="row">
          <h1>Movimiento de Cliente [[item.idcliente]] </h1>
        </div>
      </div>
        <div class="row">
        <table class="table table-hover">
            <tbody>
              <tr hidden$={{!muestraRegistro}}>
                <th>FECHA</th>
                <th>IMPORTE</th>
                <th>TITULO DE MOVIMIENTO</th>
              </tr>
              <template is="dom-repeat" items="{{movimientos}}">
                <tr>
                  <td>
                    [[item.fecha]]
                  </td>
                  <td>
                    [[item.importe]]
                  </td>
                  <td>
                    [[item.tipo]]
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <div class="row" hidden$={{!muestraRegistro}}>
          <button on-click="altaMovimiento" data-args="10" type="button" class="btn btn-secondary">Dar de alta movimiento</button>
        </div>
      </div>
      <div hidden$={{!alta_registro}}>
          <div class="row">
            <input type="hidden" id="iduser" value="0"/>
            <alta-mov id-user$="{{id_user}}"></alta-mov>
          </div>
      </div>
      <div class="row" hidden$={{muestraRegistro}}>
      <div class="row" hidden$={{!muestraProductos}}>
      <table class="table table-hover">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
                <td>
                  <button on-click="obtenerMovimientos" data-args$="{{item.idcliente}}" type="button" class="btn btn-secondary">Obtener Movimientos</button>
                </td>
                <td>
                  <button on-click="obtenerProductos" data-args$="{{item.idcliente}}" type="button" class="btn btn-secondary">Obtener Productos</button>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      </div>
      <div class="row" hidden$={{muestraMovimientos}}>
        <div hidden$={{!muestraProductos}}>
          <div class="row" hidden$={{!muestraCurrency}}>
            <button on-click="obtenerCurrency" type="button" class="btn btn-secondary">Tipo de Cambio</button>
          </div>
        </div>
      </div>
      <div class="row" hidden$={{muestraCurrency}}>
        <obtener-currency></obtener-currency>
      </div>
      <div hidden$={{muestraProductos}}>
        <div class="row">
          <obtener-productos productos$="{{productos}}"></obtener-productos>
        </div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          id_user:{
            type: Number
          },
          muestraRegistro: {
            type: Boolean,
            value:false
          },
          alta_registro:{
            type: Boolean,
            value: false
          },
          clientes: {
            type: Array,
            notify: true
          },
          movimientos: {
            type: Array,
            notify: true
          },
          productos:{
            type: Array,
            notify: true
          },
          muestraCurrency: {
            type: Boolean,
            value: true
          },
          muestraMovimientos: {
            type: Boolean,
            value: false
          },
          muestraProductos: {
            type: Boolean,
            value: true
          }
        };
      }
      obtenerClientes()
      {
        var request = new XMLHttpRequest();
//        request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET", "http://localhost:3002/Clientes", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
//        this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
//        console.table(this.clientes);
     }
      obtenerMovimientos(e){
        var id = e.target.getAttribute("data-args")
        this.id_user = id;
        this.muestraRegistro = true;
        this.muestraMovimientos = true;
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3002/Movimientos?id="+id, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movimientos = JSON.parse(request.responseText);
        if (this.movimientos.length === 0){
          alert("No existen movimientos")
        }
      }
      altaMovimiento(e){
        this.muestraRegistro = true;
        $("#movimientos-cliente").hide();
        console.log(this.id_user);
        $("#no-cliente").val(this.id_user);
        this.alta_registro = true;
      }
      obtenerCurrency(){
        this.muestraCurrency = false;
      }
      obtenerProductos(e){
        var id = e.target.getAttribute("data-args")
        this.id_user = id;
        console.log(this.id_user);
        $("#no-cliente").val(this.id_user);
        $("#movimientos-cliente").hide();
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3002/Productos?id="+id, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.productos = JSON.parse(request.responseText);
        if (this.productos.length === 0){
          this.alta_registro = false;
          alert("El cliente no cuenta con productos activos");
        } else{
          this.muestraProductos = false;
        }
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
