<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="registro-clientes">
  <template>
    <link rel="stylesheet" href="/estilos/estilo.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav">
        <!--   <li><a href="Login.html" class="historyAPI">Home</a></li>
          <li><a href="about.html" class="historyAPI">About</a></li>
           <li><a href="contact.html" class="historyAPI">Contact</a></li>-->
       </ul>
      </div>
      <div class="formulario">
          <h2>Crea tu Cuenta</h2>
          <form action="#">
              <input type="text" placeholder="Usuario" required >
              <input type="email" value="{{correo::input}}" placeholder="Correo Electronico" required>
              <input type="password" value="{{contrasena::input}}" placeholder="Contraseña" required>
              <button on-click="registroClientes" type="button">Registrarse</button>
          </form>
      </div>
    </div>

  <iron-ajax
    id="doRegistro"
    url="http://localhost:3002/Registro"
    content-type="application/json"
    crossDomain:text-true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError">
  </iron-ajax>
</template>

  <script>
    class RegistroClientes extends Polymer.Element {
      static get is() { return 'registro-clientes'; }
      static get properties() {
        return {
          usuario: {
            type: String
          },
          correo: {
            type: String
          },
          contrasena: {
            type: String
          },
          registro: {
            type: Array,
            notify: true
          }
        };
      }
      registroClientes()
      {
        var registerData ={
          "usuario":this.usuario,
          "correo":this.correo,
          "contrasena":this.contrasena
        };
        console.log("REGISTER DATA: "+registerData);
        this.$.doRegistro.body = JSON.stringify(registerData);
        this.$.doRegistro.generateRequest();
        console.log("Peticion Enviada");
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        alert("Registro dado de alta");
        history.go(0);
      }
      showError(error){
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, favor de capturar valores validos");
        console.log(error);
      }
    }
    window.customElements.define(RegistroClientes.is, RegistroClientes);
  </script>

  <script type="text/javascript">
    jQuery('document').ready(function(){
        jQuery('.historyAPI').on('click', function(e){
            e.preventDefault();
            var href = $(this).attr('href');
            // Getting Content
            getContent(href, true);
            jQuery('.historyAPI').removeClass('active');
            $(this).addClass('active');
        });
    });
    // Adding popstate event listener to handle browser back button
    window.addEventListener("popstate", function(e) {
        // Get State value using e.state
        getContent(location.pathname, false);
    });
    function getContent(url, addEntry) {
        $.get(url)
        .done(function( data ) {
            // Updating Content on Page
            $('#contentHolder').html(data);
            if(addEntry == true) {
                history.pushState(null, null, url);
            }
        });
    }
</script>

</dom-module>
