<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-prod">
  <template>
    <link rel="stylesheet" href="/estilos/estilo.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav"></ul>
      </div>
      <div class="formulario" hidden$={{!regresa}}>
          <h2>Alta de Productos</h2>
          <form action="#">
              <input type="id" value="{{id::input}}" placeholder="Número de Cliente" required>
              <input type="tipo" value="{{tipo::input}}" placeholder="Tipo de Producto" required>
              <input type="noprod" value="{{noprod::input}}" placeholder="Número de Tarjeta o Crédito" required>
              <input type="creddispo" value="{{creddispo::input}}" placeholder="Linea de Crédito" required>
              <input type="saldo" value="{{saldo::input}}" placeholder="Saldo a la Fecha" required>
              <select id="sucursales" on-change="obtenerSucursal">
                <option value="">Selecciona una opcion</option>
                <option value="1">Plaza Satelite</option>
                <option value="2">Torre Polanco</option>
                <option value="3">Torre BBVA Reforma</option>
                <option value="4">BBVA Plaza las Americas Ecatepec</option>
                <option value="5">BBVA Cancun Plaza Las Americas</option>
                <option value="6">BBVA Sabalo</option>
              </select>
              <button on-click="altaProd" type="button" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>

  <iron-ajax
    id="doAltaProd"
    url="http://localhost:3002/AltaProducto"
    content-type="application/json"
    crossDomain:text-true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError">
  </iron-ajax>
</template>

  <script>
    class altaProd extends Polymer.Element {
      static get is() { return 'alta-prod'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          id_user:{
            type: Number
          },
          idUser: {
            type: String
          },
          tipo: {
            type: String
          },
          noprod: {
            type: String
          },
          creddispo: {
            type: Number
          },
          saldo: {
            type: Number
          },
          sucursal:{
            type: Number
          },
          registro: {
            type: Array,
            notify: true
          },
          regresa: {
            type: Boolean,
            value:true
          }
        }
      }
      obtenerSucursal(e){
        this.nomsucursal = e.target[e.target.selectedIndex].text
        this.sucursal = e.target[e.target.selectedIndex].value
      }
      altaProd(e)
      {
        var id_user = $("#id-user").val();
        //var nomsucursal = e.target.options[e.selectedIndex].text;
        console.log(e);
        var registerData ={
          "id":this.id,
          "tipo":this.tipo,
          "noprod":this.noprod,
          "creddispo":this.creddispo,
          "saldo":this.saldo,
          "sucursal":this.sucursal,
          "nomsucursal":this.nomsucursal
        };
        console.log("REGISTER DATA: "+registerData);
        this.$.doAltaProd.body = JSON.stringify(registerData);
        this.$.doAltaProd.generateRequest();
        console.log("Peticion Enviada");
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        alert("Producto dado de alta satisfactoriamente");
        this.regresa = false;
        history.go(-1);
      }
      showError(error){
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, favor de capturar valores validos");
        console.log(error);
      }
    }
    window.customElements.define(altaProd.is, altaProd);
  </script>
</dom-module>
