<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="/estilos/estilo.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container text-center">
      <div class="row">
        <ul class="nav navbar-nav"></ul>
      </div>
      <div hidden$={{registro_off}}>
        <div class= "row " hidden$={{logado}}>
          <h1>Bienvenido a la Aplicación </h1>
        </div>
        <div class= "row form-group" hidden$={{logado}}>
          <label for="exampleInputEmail1">Email:</label>
           <input type="email" class="form-control" value="{{email::input}}">
        </div>
        <div class= "row form-group" hidden$={{logado}}>
          <label for="exampleInputEmail1">Password:</label>
           <input type="password" class="form-control" value="{{password::input}}">
        </div>

        <div class="row" hidden$={{logado}}>
          <button on-click="login" class="btn btn-lg btn-primary btn-block" type="button">Ingresar</button>
          <p class="mt-5 mb-3 text-muted"></p>
        </div>

        <div class="row" hidden$={{logado}}>
          <button on-click="registro" class="btn btn-lg btn-secondary btn-block" type="button">Registrarse</button>
          <p class="mt-5 mb-3 text-muted">&copy;Pao</p>
        </div>
      </div>

      <div class="row" hidden$={{!muestra_registro}}>
        <div class="row">
          <registro-clientes></registro-clientes>
        </div>
      </div>
<!-- la variable se muestra cuando no es logado -->
    <div hidden$={{registro_off}}>
      <div class="row" hidden$={{!logado}}>
        <div class="row">
          <gestor-clientes></gestor-clientes>
        </div>
      </div>
    </div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Login"
      content-type="application/json"
      crossDomain:text-true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          logado: {
            type: Boolean,
            value:false
          },
          muestra_registro: {
            type: Boolean,
            value:false
          },
          registro_off: {
            type: Boolean,
            value:false
          },
          usuario: {
            type: String
          },
          correo: {
            type: String
          },
          contrasena: {
            type: String
          }
        };
      }
      registro(){
        this.muestra_registro = true;
        this.registro_off = true;
      }
      login(){
        var loginData ={
          "email":this.email,
          "password":this.password
        };
        console.log("LOGIN DATA: "+loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion Enviada");
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado = true;
      }
      showError(error){
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, favor de capturar valores validos");
        console.log(error);
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
