<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="obtener-currency">
  <template>
    <link rel="stylesheet" href="/estilos/estilo.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav"></ul>
      </div>

      <div class="row">
        <h1>Conversion a dolares</h1>
      </div>

      	<div class="currency">
      		<select id="to_currency" value="{{monedas::input}}">
            <option value="" selected>--</option>
            <option value="AED">AED</option>
      			<option value="ARS">ARS</option>
      			<option value="AUD">AUD</option>
      			<option value="BGN">BGN</option>
      			<option value="BRL">BRL</option>
      			<option value="BSD">BSD</option>
      			<option value="CAD">CAD</option>
      			<option value="CHF">CHF</option>
      			<option value="CLP">CLP</option>
      			<option value="CNY">CNY</option>
      			<option value="COP">COP</option>
      			<option value="CZK">CZK</option>
      			<option value="DKK">DKK</option>
      			<option value="DOP">DOP</option>
      			<option value="EGP">EGP</option>
      			<option value="EUR">EUR</option>
      			<option value="FJD">FJD</option>
      			<option value="GBP">GBP</option>
      			<option value="GTQ">GTQ</option>
      			<option value="HKD">HKD</option>
      			<option value="HRK">HRK</option>
      			<option value="HUF">HUF</option>
      			<option value="IDR">IDR</option>
      			<option value="ILS">ILS</option>
      			<option value="INR">INR</option>
      			<option value="ISK">ISK</option>
      			<option value="JPY">JPY</option>
      			<option value="KRW">KRW</option>
      			<option value="KZT">KZT</option>
      			<option value="MXN">MXN</option>
      			<option value="MYR">MYR</option>
      			<option value="NOK">NOK</option>
      			<option value="NZD">NZD</option>
      			<option value="PAB">PAB</option>
      			<option value="PEN">PEN</option>
      			<option value="PHP">PHP</option>
      			<option value="PKR">PKR</option>
      			<option value="PLN">PLN</option>
      			<option value="PYG">PYG</option>
      			<option value="RON">RON</option>
      			<option value="RUB">RUB</option>
      			<option value="SAR">SAR</option>
      			<option value="SEK">SEK</option>
      			<option value="SGD">SGD</option>
      			<option value="THB">THB</option>
      			<option value="TRY">TRY</option>
      			<option value="TWD">TWD</option>
      			<option value="UAH">UAH</option>
      			<option value="USD">USD</option>
      			<option value="UYU">UYU</option>
      			<option value="VND">VND</option>
      			<option value="ZAR">ZAR</option>
      		</select>
      		<input type="number" id="to_ammount" value="{{rate::input}}" placeholder="0" />
          <button on-click="convierteDolares" type="button" class="btn btn-secondary">Tipo de Cambio</button>
      	</div>
        <div class="row">
          [[tipo]]
        </div>

      </div>
  </template>

<script>
class ObtenerCurrency extends Polymer.Element {
  static get is() { return 'obtener-currency'; }
  static get properties() {
    return {
      currency:{
        type: String
      },
      monedas: {
        type: String
      },
      rate :{
        type: Number
      },
      tipo:{
        type: String
      }
    };
  }
  convierteDolares()
  {
    var request = new XMLHttpRequest();
    request.open("GET", "https://open.exchangerate-api.com/v6/latest", false);
    request.setRequestHeader("Accept", "application/json");
    request.send();
    var tipo_cambio = JSON.parse(request.responseText);
    for(const prop in tipo_cambio.rates){
      if(prop == this.monedas){
        this.tipo = "La tasa de conversion es "+this.rate*tipo_cambio.rates[prop];
      }
    }
  }
}
  window.customElements.define(ObtenerCurrency.is, ObtenerCurrency);
</script>
</dom-module>
