<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-mov">
  <template>
    <link rel="stylesheet" href="/estilos/estilo.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav"></ul>
      </div>
      <div class="formulario" hidden$={{!regresa}}>
          <h2>Alta de Movimientos</h2>
          <form action="#">
              <input id="no-cliente" type="text" value$="{{idUser}}" readonly >
              <input type="date" value="{{fecha::input}}" placeholder="Fecha" required>
              <input type="importe" value="{{importe::input}}" placeholder="Importe" required>
              <input type="tipo" value="{{tipo::input}}" placeholder="Tipo" required>
              <button on-click="altaMov" type="button" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>

  <iron-ajax
    id="doAltaMov"
    url="http://localhost:3002/AltaMovimiento"
    content-type="application/json"
    crossDomain:text-true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError">
  </iron-ajax>
</template>

  <script>
    class altaMov extends Polymer.Element {
      static get is() { return 'alta-mov'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          idUser: {
            type: String
          },
          fecha: {
            type: String
          },
          importe: {
            type: Number
          },
          tipo: {
            type: String
          },
          registro: {
            type: Array,
            notify: true
          },
          regresa: {
            type: Boolean,
            value:true
          }
        }
      }
      altaMov()
      {
        var id_user = $("#id-user").val();
        console.log(id_user);
        var registerData ={
          "id":this.idUser,
          "fecha":this.fecha,
          "importe":this.importe,
          "tipo":this.tipo
        };
        console.log("REGISTER DATA: "+registerData);
        this.$.doAltaMov.body = JSON.stringify(registerData);
        this.$.doAltaMov.generateRequest();
        console.log("Peticion Enviada");
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        alert("Movimiento dado de alta");
        this.regresa = false;
        history.go(-1);
      }
      showError(error){
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, favor de capturar valores validos");
        console.log(error);
      }
    }
    window.customElements.define(altaMov.is, altaMov);
  </script>

  <script type="text/javascript">
      jQuery('document').ready(function(){
          jQuery('.historyAPI').on('click', function(e){
              e.preventDefault();
              var href = $(this).attr('href');
              // Getting Content
              getContent(href, true);
              jQuery('.historyAPI').removeClass('active');
              $(this).addClass('active');
          });
      });
      // Adding popstate event listener to handle browser back button
      window.addEventListener("popstate", function(e) {
          // Get State value using e.state
          getContent(location.pathname, false);
      });
      function getContent(url, addEntry) {
          $.get(url)
          .done(function( data ) {
              // Updating Content on Page
              $('#contentHolder').html(data);
              if(addEntry == true) {
                  history.pushState(null, null, url);
              }
          });
      }
  </script>
</dom-module>
