<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="obtener-productos">
  <template>
    <link rel="stylesheet" href="/estilos/estilo.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div id="obtener-p" class="container">
      <div class="row">
        <ul class="nav navbar-nav"></ul>
      </div>
      <div class="row">
        <h1>Listado de Productos por Cliente</h1>
        <div class="row">
        <table class="table table-hover">
          <tbody>
            <tr hidden$={{!muestraRegistro}}>
              <th>CLIENTE</th>
              <th>TIPO DE PRODUCTO</th>
              <th>NUMERO DE PRODUCTO</th>
              <th>LINEA DE CREDITO</th>
              <th>SALDO A LA FECHA</th>
              <th>SUCURSAL</th>
            </tr>
            <template is="dom-repeat" items="{{productos}}">
              <tr>
                <td> [[item.id]] </td>
                <td> [[item.tipo]] </td>
                <td> [[item.noprod]] </td>
                <td> [[item.creddispo]] </td>
                <td> [[item.saldo]] </td>
                <td> [[item.nomsucursal]] </td>
                <td>
                  <button on-click="obtenerSucursal" data-args$="{{item.sucursal}}" type="button" class="btn btn-secondary">Localizacion de Sucursal</button>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        </div>
      </div>
      <div class="row">
        <button on-click="altaProd" type="button" class="btn-secondary">Alta de Producto</button>
      </div>
    </div>
    <div hidden$={{!alta_registro}}>
        <div class="row">
          <alta-prod></alta-prod>
        </div>
    </div>
</template>

  <script>
    class ObtenerProd extends Polymer.Element {
      static get is() { return 'obtener-productos'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          tipo: {
            type: String
          },
          noprod: {
            type: String
          },
          creddispo: {
            type: String
          },
          saldo: {
            type: String
          },
          nomsucursal:{
            type:String
          },
          sucursal:{
            type: Number
          },
          productos: {
            type: Array,
            notify: true
          },
          tarjeta: {
            type: Number
          },
          credito:{
            type: Number
          },
          alta_registro:{
            type: Boolean,
            value: false
          }
        }
      }
      altaProd(){
        this.alta_registro = true;
      }
      obtenerSucursal(e){
       var data_sucursal =  e.target.getAttribute("data-args");
       var request = new XMLHttpRequest();
       var url = "https://www.google.com/maps/search/?api=1&query="
       request.open("GET", "http://localhost:3002/Sucursales/"+data_sucursal, false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
       var objeto = JSON.parse(request.responseText);
       var lat = objeto.latitud;
       var long = objeto.longitud;
       url = url+lat+","+long;
       window.open(url)
      }
    }
    window.customElements.define(ObtenerProd.is, ObtenerProd);
  </script>
